<section class="blog" id="blog">
  <div class="blog__container container">
    <article class="blog__card"> <!-- 1 -->
      <div class="blog__photo">
        <img src="img/blog/blog-1.jpg" alt="Blog Card Image" class="blog__image">
        <div class="blog__subtitle blog__subtitle--1">Living</div>
      </div>
      <div class="blog__content">
        <h3 class="blog__title title">Living Room Items</h3>
        <p class="blog__description">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45  professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.
        </p>
        <a href="" class="blog__link button">Read More</a>
      </div>
    </article>

    <article class="blog__card blog__card--reverse"> <!-- 2 -->
      <div class="blog__photo">
        <img src="img/blog/blog-2.jpg" alt="Blog Card Image" class="blog__image">
        <div class="blog__subtitle">Dining</div>
      </div>
      <div class="blog__content">
        <h3 class="blog__title title">Trendy Dining Table</h3>
        <p class="blog__description">
          Contrary to popular belief, Lorem Ipsum is not simply random text. literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin.
        </p>
        <a href="" class="blog__link button">View Items</a>
      </div>
    </article>

    <article class="blog__card"> <!-- 3 -->
      <div class="blog__photo">
        <img src="img/blog/blog-3.jpg" alt="Blog Card Image" class="blog__image">
        <div class="blog__subtitle">Bed</div>
      </div>
      <div class="blog__content">
        <h3 class="blog__title title">Modern Bed</h3>
        <p class="blog__description">
          Contrary to popular belief, Lorem Ipsum is not simply random text. literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin.
        </p>
        <a href="" class="blog__link button">View Items</a>
      </div>
    </article>

    <article class="blog__card blog__card--reverse"> <!-- 4 -->
      <div class="blog__photo">
        <img src="img/blog/blog-4.jpg" alt="Blog Card Image" class="blog__image">
        <div class="blog__subtitle">Kitchen</div>
      </div>
      <div class="blog__content">
        <h3 class="blog__title title">Populer kitchen Items</h3>
        <p class="blog__description">
          Contrary to popular belief, Lorem Ipsum is not simply random text. literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin.
        </p>
        <a href="" class="blog__link button">View Items</a>
      </div>
    </article>
  </div>
</section>
