<section class="discount" id="discount">
  <img src="img/discount/bg-sofa.jpg" alt="Discount Image" class="discount__image">
  <div class="discount__container">
    <div class="discount__content">
      <p class="discount__subtitle">
        50% OFF
      </p>
      <h2 class="discount__title title">
        Weekend Trendy Sofa
      </h2>
      <p class="discount__description">
        Contrary to popular belief, Lorem Ipsum is not simply random text. literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin.
      </p>
      <button class="discount__button button">
        View Items
      </button>
    </div>
  </div>
</section>
