<footer class="footer">
  <div class="footer__container container">
    <div class="footer__content">
      <!-- 1 -->
      <div class="footer__column">
        <img src="img/footer/logo.png" alt="Logo Image" class="footer__logo">
        <div class="footer__description">
          Contrary to popular belief, Lorem Ipsum is not simply  years old Latin.
        </div>
        <div class="footer__socials">
          <i class="ri-facebook-circle-fill footer__icon"></i>
          <i class="ri-instagram-fill footer__icon"></i>
          <i class="ri-twitter-fill footer__icon"></i>
          <i class="ri-youtube-fill footer__icon"></i>
        </div>
      </div>

      <!-- 2 -->
      <div class="footer__column">
        <h2 class="footer__title">Contact Us</h2>
        <ul class="footer__list">
          <li class="footer__item">
            <span class="footer__text">
              45 Tooring High London United kingdoom
            </span>
          </li>
          <li class="footer__item">
            <a href="tel:+018123456789" class="footer__link">018123456789</a>
          </li>
          <li class="footer__item">
            <a href="mailto:petroger456@gmail.com" class="footer__link">petroger@gmail.com</a>
          </li>
        </ul>
      </div>

      <!-- 3 -->
      <div class="footer__column">
        <h2 class="footer__title">Survice Hours</h2>
        <ul class="footer__mode">
          <li class="footer__days">
            <span class="footer__day">Mon-Fri:</span>
            <span class="footer__time">09.00am - 19.00pm</span>
          </li>
          <li class="footer__days">
            <span class="footer__day">Saturday:</span>
            <span class="footer__time">10.00am - 18.00pm</span>
          </li>
          <li class="footer__days">
            <span class="footer__day">Sunday:</span>
            <span class="footer__time">We are Closed</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <p class="footer__copy">&#169; 2020 Furniture. All Right Reserved</p>
  </div>
</footer>
