<header class="header">
  <div class="header__container container">
    <div class="header__buttons">
      <button class="header__button header-button">
        <span class="header__button-text">Login</span>
        <i class="ri-user-3-fill header__button-icon"></i>
      </button>
      <button class="header__button header-button">
        <span class="header__button-text">Sing up</span>
        <i class="ri-login-box-fill header__button-icon"></i>
      </button>
    </div>
    <div class="header__buttons">
      <button class="header__button header-button">
        <i class="ri-mail-fill header__button-icon"></i>
        <span class="header__button-text">Mailing list</span>
      </button>
      <button class="header__button header-button">
        <i class="ri-share-fill header__button-icon"></i>
        <span class="header__button-text">Share</span>
      </button>
      <button class="header__button header-button">
        <i class="ri-shopping-cart-fill header__button-icon"></i>
        <span class="header__button-text">Cart</span>
      </button>
    </div>
  </div>
</header>
