<section class="subscribe">
  <img src="img/subscribe/subscribe-bg.jpg" alt="Subscribe Image" class="subscribe__image">
  <div class="subscribe__container">
    <div class="subscribe__content">
      <h3 class="subscribe__title title">Get 30% Off</h3>
      <p class="subscribe__description">
        Contrary to popular belief, Lorem Ipsum is not simply years old. Richard McClintock, a Latin.
      </p>
      <form class="subscribe__form">
        <input name="email" type="email" class="subscribe__input" placeholder="Enter Your Email" required>
        <input type="submit" class="subscribe__button" id="submit" value="Submit">
      </form>
      <span class="subscribe__success" id="message"></span>
    </div>
  </div>
</section>
